*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.gen/
*.xpr
*.jou
*.log
*.bat
*.wdb
*.prj
*.tcl
*.pb
*.ini
*.dbg
*.bak
*.sdb
*.rtti
*.mem
*.reloc
*.xci
*.rlx
*.svtype
*.type
*.xdbg
*.obj
*.c
glbl.v
*.exe
*.dcp
*.wave
*.xdc
.history
*.str
Compile_Options.txt
TempBreakPointFile.txt